* {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
}
body {
    background: #F6F7FF;
}
:root{
  --bgColorblue:#4A63E7;
}
section#allSectionWraper {
    width: 1170px;
    margin: auto;
}
section#sidevar {
    float: left;
}

.sidevarWraper {
    width: 266px;
    background: #4A63E7;
    overflow: hidden;
    border-radius: 20px;
    /* margin: 50px 0px 0px 90px; */
    position: fixed;
}

.myProfileImg img {
    width: 33%;
    display: block;
    border-radius: 50%;
}

.myProfileImg {
    width: 100%;
}

.mainSideVar {
    margin: 30px 30px;
}

.myProfileImgDetails h1 {
    color: white;
    font-size: 28px;
    margin-bottom: 10px;
}
.myProfileImgDetails h1 span {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background: #FF5959;
}
.myProfileImgDetails {
    color: white;
    margin-top: 25px;
}
.myProfileImgDetails p {
    font-size: 12px;
}
.myNavbar {
    margin-top: 50px;
}

.myNavbar a {
    display: block;
    color: white;
    text-decoration: none;
    padding-bottom: 20px;
    font-size: 14px;
    transition: .5s;
}
.myNavbar a span {
    width: 20px;
    display: inline-block;
    margin-right: 15px;
}
a.myNavbarSid {
    position: relative;
    display: contents;
}
a.myNavbarSid::before{
  content: " ";
  position: absolute;
  width: 3px;
  height: 15px;
  background: #FF5959;
  margin-left: -30px;
}
.myNavbar a:hover {
    transform: translateX(7px);
}
.myContuctIcon {
    margin-top: 30px;
}

.myContuctIcon a {
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    color: white;
    background: #FF5959;
    margin-right: 5px;
    padding: 2px;
    transition: .5s;
    text-decoration: none;
}

.myContuctIcon a:hover {
    color: #FF5959;
    background: white;
}
.myNavbarFooter {
    margin-top: 20px;
}

.myNavbarFooter p {
    color: #ccd3f9;
    font-size: 12px;
}
#mainContainer {
    width: 875px;
    margin: auto;
    float: right;
    box-sizing: border-box;
    margin-top: 50px;

}
.container {
      padding: 75px 50px;
}
.introduction {
  background: linear-gradient(-45deg,#4a63ead1,#4a63eaf5),url(images/mohammadshahin1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 150%;
  border-radius: 20px;
  box-shadow: 0px 0px 15px -2px #999393;
}
.introducWraper {
    margin: 120px 90px;
}
.introucDetails {
    color: white;
}
.introucDetails h1 {
    font-size: 60px;
    margin-bottom: 15px;
}
.introucDetails p {
    font-size: 17px;
    line-height: 30px;
}
a.introucProtfolioBtn {
    display: inline-block;
    color: white;
    background: #FF5959;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 35px;
    margin-right: 15px;
    transition: .5s;
}
a.introucProtfolioBtn i {
    display: inline-block;
    margin-right: 5px;
    font-size: 20px;
    vertical-align: middle;
}
a.introucHireMeBtn {
    display: inline-block;
    border: 1px solid white;
    text-align: center;
    text-decoration: none;
    padding: 14px 30px;
    border-radius: 37px;
    color: white;
    transition: .5s;
}
a.introucHireMeBtn i {
    display: inline-block;
    margin-right: 5px;
    font-size: 19px;
    vertical-align: bottom;
}
.introucBtn {
    margin-top: 20px;
}
.introucDetails h1 span {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #FF5959;
    border-radius: 50%;
}
a.introucProtfolioBtn:hover {
    background: #4A63E7;
    box-shadow: 0px 5px 10px #00000057;
    transform:translateY(-3px);
}
a.introucHireMeBtn:hover {
    background: white;
    color: black;
    box-shadow: 0px 5px 7px #00000057;
    transform:translateY(-3px);
}
section#sidevar {
    margin-top: 50px;
}
.aboutPage {
    background: white;
    border-radius: 20px;
    box-shadow: 0px 0px 15px -7px #5f5959;
}
.pageHeader h1 {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.pageHeader h1::before{
  content: " ";
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background: #FF5959;
  position: absolute;
  bottom: -15px;

}
.pageHeader {
    margin-bottom: 80px;
}
.aboutImg {
    width: 25%;
    float: left;
}

.aboutImg img {
    width: 75%;
    border-radius: 50%;
}
.aboutDiteilsTex {
    width: 75%;
    float: right;
}

.aboutDiteils {
    overflow: hidden;
}
.aboutDiteilsTex h1 {
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 25px;
}

.aboutDiteilsTex p {
    font-size: 14px;
    font-weight: 500;
    color: #9E9E9E;
    line-height: 25px;
}
.aboutDiteilsTexContuct {
    margin-top: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

.aboutDiteilsTexContuct p {
    width: 50%;
    float: left;
    color: black;
    line-height: 30px;
    font-weight: 400;
}
.aboutDiteilsTexContuct p span {
    color: #9E9E9E;
    font-weight: 500;
}
.aboutDiteilsContuctBtn {
    padding-bottom: 15px;
}
.aboutDiteilsContuctBtn a {
    display: inline-block;
    text-decoration: none;
    background: #FF5959;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    transition: 0.5s;
    margin-right: 15px;
}
.aboutDiteilsContuctBtn a:last-child{
  background: #4A63E7;
}
.aboutDiteilsContuctBtn a:first-child:hover {
    background: #4A63E7;
    box-shadow: 0px 6px 15px -4px #00000057;
    transform:translateY(-3px);
}
.aboutDiteilsContuctBtn a:last-child:hover {
    background: #FF5959;
    box-shadow: 0px 6px 15px -4px #00000057;
    transform:translateY(-3px);
}
.aboutDiteilsContuctBtn a i {
    display: inline-block;
    margin-right: 5px;
}
.mySkillsPage{
    background: white;
    border-radius: 20px;
    box-shadow: 0px 0px 15px -7px #5f5959;
}
.mySkillsDiteils p {
    font-size: 14px;
    line-height: 25px;
    color: #999595;
}
.mySkillsPeturn {
    margin-top: 30px;
    overflow: hidden;
}

.skillsPeturn {
    width: 48%;
    float: left;
    margin-right: 15px;
}
.skillsPeturn:nth-child(2){
  margin-bottom: 40px;
}
.skillsPeturn p {
    display: inline-block;
}

.skillsPeturn p:first-child {
    width: 92%;
    float: left;
    color: black;
    font-weight: 500;
    font-size: 15px;
}

.skillsPeturnMark {
    width: 100%;
    height: 3px;
    background: #EBEBEB;
    margin-top: 15px;
}

.skillsPeturnWordpress {
    width: 5%;
    height: 100%;
    background: #FF5959;
}

.skillsPeturnHtmlCss {
    width: 95%;
    height: 100%;
    background: #FF5959;
}

.skillsPeturnJavascript {
    width: 62%;
    height: 100%;
    background: #FF5959;
}

.skillsPeturnBootstrap {
    width: 5%;
    height: 100%;
    background: #FF5959;
}
.skillsPeturn p:nth-child(2) {text-align: right;font-weight: 500;}
